# General
NODE_ENV="development"
PORT="3000" # Internal port, should not be modified if using Docker

# Mongo
MONGO_URL="mongodb://user:password@mongo:27017/ledge?authSource=admin"

# SMTP / Email
SMTP_URL="smtp://mailpit:1025"
EMAIL_FROM="Ledge <no-reply@ledge.com>"
WEB_URL="http://localhost:5173"
