# General
NODE_ENV="development"
PORT="3000" # Internal port, should not be modified if using Docker

# Mongo
MONGO_URL="mongodb://user:password@mongo:27017/ledge?authSource=admin"

# SMTP / Email
SMTP_URL="smtp://mailpit:1025"
EMAIL_FROM="Ledge <no-reply@ledge.com>"
WEB_URL="http://localhost:5173"

# Logging
PINO_TARGET="pino-pretty" # or "@logtail/pino" to ship logs to Better Stack
# BETTERSTACK_URL="<BETTERSTACK_URL>" # required when PINO_TARGET="@logtail/pino"
# BETTERSTACK_TOKEN="<BETTERSTACK_TOKEN>" # required when PINO_TARGET="@logtail/pino"
